
  $backgroundColor : #746858;
  $fontColor: #1d160c;
  $subHeadingColor:#fff;
  $panelBodyBackground:#f9f0f5;
  $hoverText : #cc0000;

  $backgroundImage : url('/img/back.png');
  $backImgJumbo: url('/img/paper.jpg');

  $headerFonts : 'UnifrakturCook', cursive;
  $fontType : 'Allerta Stencil', sans-serif;
  // $banner : 'Audiowide', cursive;
  $Headers: 'UnifrakturMaguntia', cursive;

  $TextShadow : 2px 2px #000;


  @mixin hover-color($color) {
    &:hover{
      color: $hoverText;
    }
  }

  body {
    background-color:$backgroundColor;
    background-image: $backgroundImage;
    font-family:$fontColor;
    color:$fontColor;
    width:100%;
    height:auto;
  }

  .jumbotron {
    background-image:$backImgJumbo;
    font-family:$Headers;
    color:$subHeadingColor;
  }

  h1 {
    font-family: $Headers;
    color: $backgroundColor;
  }

  h5 {
    color:$fontColor;
  }

  .panel-heading {
    background-color: $backgroundColor;
  }

  .panel-body {
    background-color:$panelBodyBackground;
  }

  a {
    background-color:none;
   // font-family:$fontType;
    color:$fontColor;
  }

  a:hover {
    text-decoration:none;
    text-shadow:$TextShadow;
    color: $hoverText;
  }

  .fa {
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
    width: 50px;
    height:40px;
    text-align: center;
    margin: 10px;
    border-radius: 10%;
    background-color:$hoverText ;
    color:#fff
  }

  .fa:hover {
    color:#fff;
    text-decoration: none;
    background-color: $backgroundColor;
  }




