
  $backgroundColor : #e9e8e3;
  $backgroundImage : url('/img/back.png');
  $textColor: #474643;
  $subHeadingColor : #a19a8b;
  $headerFonts : 'UnifrakturCook', cursive;
  $fontType : 'Cormorant Upright', serif;
  $TextShadow : 2px 2px #a19a8b;
  $hoverText : #2cc990;

  @mixin hover-color($color) {
    &:hover{
      color: $hoverText;
    }
  }

  body {
    background-color:$backgroundColor;
    background-image: $backgroundImage;
    font-family:$fontType;
    color:$textColor;
    width:100%;
    height:auto;
  }

  .jumbotron {
    background: transparent;
    font-family:$headerFonts ;
  }


