	

<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tech Crunch</title>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="icon" href="/img/N.png" sizes="16x16">
    <!-- Style Sheets links -->
    <link rel="stylesheet" type="text/css" href="/css/reset.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Audiowide|Fredericka+the+Great|UnifrakturMaguntia" rel="stylesheet">
    <!-- Style Sheet -->
    <lik rel="stylesheet" type ="text/css" href="https://bootswatch.com/cyborg/bootstrap.css">
    <!-- Scripts -->  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

	<body>
	  <div  id="header">   
      <div class="container text-left">
        <h1>Nelum</h1>
    </div>
    <nav class="navbar navbar text-right">
      <div class="container">
        <h3>
          <a href="/"><i class="fa fa-ravelry" aria-hidden="true">  Home  </i></a>  |  
          <a href="/scrape"><i class="fa fa-search" aria-hidden="true">  Scrape New News  </i></a>  |  
          <a href="/scrapped"><i class="fa fa-newspaper-o" aria-hidden="true">  Scraped News </i></a>
        </h3>
      </div>
    </nav>

    </div>
      <div class="container text-center">
        <div class="centerContainer text-center">
        <h1><div id="Logo"></div></h1>

          {{{body}}}

        </div>
      </div>

	<footer class="container-fluid text-center" class = "mainFooter">
      <a href="https://www.linkedin.com/in/nelum-sam/" target="_blank" class="fa fa-linkedin"></a>
      <a id="mail" href="mailto:dnks2000@gmail.com?Subject=Portfolio Site Contact" Target="_top" class="fa fa-envelope"></a>
      <a href="https://github.com/Dil2000" target="_blank" class="fa fa-github"></a>
      <p id="email"> dnks2000@gmail.com</p>
      <p id="footerText">&copy copyright 2017 Nelum Sam</p>
    </footer>

	</body>

</html>