body {
  background-color: #e9e8e3;
  background-image: url("/img/back.png");
  font-family: "Cormorant Upright", serif;
  color: #474643;
  width: 100%;
  height: auto; }

.jumbotron {
  background: transparent;
  font-family: "UnifrakturCook", cursive; }
