

body{
  font-family: 'Padauk', sans-serif;
  background-color:#9af750;
/*  background-image:url("../img/food.jpeg");*/
  color:#fff;
  font-size:18px;
}

td:hover{
  background-color:#9af750;
}

button{
  font-size:50px;
}

.container{
	padding:10px;      
}

#Logo{
  padding:16px;
  font-size:40px;
  font-family: 'Kranky', cursive;
  color:white;
}

#submit{
  width:200px;
  height:50px;
  background-color:#000;
  color:#fff;
  font-size:25px;
  margin:10px;
}

#image{
  width:20%;
  height:auto;
  padding:10px;
}

.centerContainer{
  background-color:#5D001E;
  width:100%;
  height:auto;
  box-sizing:border-box;
  padding:20px;
  border-radius:5%;
}

.input-group{
  margin-bottom:30px;
}

#name{
  color:#5D001E;
}

#header{
  background-color:#9af750;
  color:#fff;
}

h1{
  font-size:60px;
  /*font-family: 'Sedgwick Ave Display', cursive;*/
}

button{
  color:#5D001E;
  padding:5px;
  margin:5px;
  border-radius: 25px;
}

#burger{
  color:#5D001E;  
}

select{
  width:30%;
  color:#000;
}

#match{
  visibility: hidden;
}

.navbar,span,.container,a{
  /*background-color:#9af750;*/
  background:transparent;
  font-family: 'Padauk', sans-serif;
}

a:link, a:visited,a:active{
  text-decoration:none;
  color:#5D001E;
}

a:hover{
  color:#fff;
}

#bodyText{
  color:#9af750;
}

footer,.mainFooter{
/*background-color:#9af750;*/
  /*color:#5d001e;*/
  color:#fff;
  bottom:0px;
  position:absolute;
}

footer{
  position:relative;
}

@media screen and (max-width: 2000px) {
  .mainFooter{
    bottom:0px;
    position:static;
  }  
  .wrapper{
    height:auto;
  }
}

@media screen and (max-width: 640px) {
  footer,.mainFooter{
    bottom:0px;
    position:relative;
  }
  .wrapper{
    height:auto;
 }
}

/* Icons */
.fa {
  text-decoration: none;
  padding: 5px;
  font-size: 20px;
  width: 30px;
  height:30px;
  text-align: center;
  margin: 10px;
  border-radius: 50%;
  background-color:#808080;
  color:#fff
}

.fa:hover {
   color:#22264b;
   text-decoration: none;
   background-color:#fff;
}

